@charset "utf-8";
/* CSS Document */
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align: top;}
input,select,textarea{outline: none; border:none; background-color: transparent;}
textarea{resize: none;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{ content:""; display:table;}
.clearfix:after{ clear:both;}
.clearfix{*zoom:1}

.fl{ float:left;}
.fr{ float:right;}
