@charset"utf-8";
.box{width:211px;height:143px; margin:30px auto;}
.list1{height:30px; background:url(../images/aa1.png) left top no-repeat;font:12px/30px ""; margin-bottom: 15px;}
.user{width:32px;height:18px;background:url(../images/user.jpg) 11px center no-repeat; float: left;border-right: 1px solid #7f7f7f;margin-top: 6px;}
.text{padding-left:40px;margin-bottom: -30px;color:#7c7c7e;}
.name{width:171px;height:30px;padding-left: 40px;}
.name input{width:211px;height:30px;line-height: 30px\9;}
.pass{background-image: url(../images/pass.jpg);}
.list2{height:22px;font-size:12px;color: #000; }
.list_text{height:22px;background:url(../images/list.jpg) right top no-repeat;padding-right: 19px;}
.list_text span{background:url(../images/dun.jpg) left top no-repeat; padding-left: 16px;height:22px;display: inline-block;}
.list2 a{color:#3182a0;}
.list3{height:32px;line-height: 32px;font-size: 12px;}
.list_left{width:82px;height:32px; background: url(../images/list_left.jpg) left top no-repeat;}
.list_left input{width:82px;height:32px;}
.list_right a{color:#3182a0;}


































































































