* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.snackBox {
  position: relative;
  margin: 10px;
  width: 500px;
  height: 500px;
  background-color: #808080;
  border: 1px solid #000;
}
.snackBox .target {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
}
.snackBox .snackList li {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
}
.snackBox .snackList .active {
  background-color: #fff;
}
#btn {
  margin: 10px;
}
